.right
  = link_to "Nuevo slide", new_slide_path, :class => "button green hover" if (@slides.count < 4)
  = link_to "Log out", destroy_user_session_path, :confirm => '¿Estás seguro?', :method => :delete, :class => "button black"

%h2="slides" 

- @slides.each do |slide|
  %br
  .right  
    = link_to "Editar", edit_slide_path(slide), :class => "button blue" 
    = link_to "Borrar", slide, :confirm => '¿Estás seguro?', :method => :delete, :class => "button red"
  = image_tag slide.photo.url(:slide), :class => 'frame'