= render partial: 'layouts/navbar2'

#slides.container
  %br
  = bootstrap_flash
  %h2
    ="slides"
    .pull-right= link_to fa_icon("plus-circle"), new_slide_path, :class => "btn btn-success" 
 

  - @slides.each do |slide|
    %br
    .well
      .pull-right 
        = link_to fa_icon("edit") , edit_slide_path(slide),                                  :class => "btn btn-primary" 
        = link_to fa_icon("trash"), slide, :confirm => '¿Estás seguro?', :method => :delete, :class => "btn btn-danger"
      - unless slide.video?
        = image_tag slide.photo.url(:index), :class => 'img-thumbnail'
      - else
        = video_tag slide.video.url(:video)
