= simple_form_for @entry, :html=> { id: 'form' } do |f|
  .form-inputs
    .well
      .row
        .col-md-6= f.input :publish_date, as: :date_picker, required: true 
        .col-md-6= f.input :title, required: true
      .row
        .col-md-6= f.association :tag, required: true
    %br 
    .well 
      .row  
        .col-md-12= f.input :content, required: true
      %br  
      .row 
        .col-md-6= f.input :youtube_link
        .col-md-6= f.input :external_link
      %br  
      .row 
        .col-md-6= f.input :photo, as: :file
  %br
  .form-actions.row
    .col-md-4= f.button :submit