%aside.side-left
  = render partial: 'layouts/next_concert'

  = render partial: 'layouts/social_network'

  - if @songs.present?  
    = render partial: 'layouts/jplayer'
    .separator

  = render partial: 'layouts/facebook'

  = render partial: 'layouts/twitter'

  = render partial: 'layouts/hiring'