= simple_form_for @category, :html=> { id: 'form' } do |f|
  .form-group
    = f.label "Título:"
    %br
    = f.input :title, label: false, required: true
  .form-group
    = f.label "Imagen:"
    %br
    = f.file_field :photo, label: false
  = f.button :submit