= render partial: 'layouts/navbar2'

#photos.container
  %br
  = bootstrap_flash
  %h2
    =@photo_category.title
    -  if current_user.try(:admin?) 
      .pull-right
        = link_to fa_icon("plus-circle"), new_photo_category_image_path(@photo_category),              :class => "btn btn-success"
        = link_to fa_icon("edit") ,       edit_photo_category_path(@photo_category),                   :class => "btn btn-primary" 
        = link_to fa_icon("trash"), @photo_category, :confirm => '¿Estás seguro?', :method => :delete, :class => "btn btn-danger"
  %br 
  .row
    - @images.each do |image|
      .col-md-4
        -  if current_user.try(:admin?) 
          .pull-right
            = link_to fa_icon("edit") , edit_image_path(image),                                  :class => "btn btn-primary" 
            = link_to fa_icon("trash"), image, :confirm => '¿Estás seguro?', :method => :delete, :class => "btn btn-danger"
        %a{"data-lightbox" => @photo_category.title, :href => image.photo.url, "data-title" => image.description, :class => 'zoom'}
          = image_tag image.photo.url(:cover), class: "img-thumbnail"

    = will_paginate @images