%article.post
  - if current_admin.present?
    .right 
      = link_to "Nueva foto", new_photo_category_image_path(@category), :class => "button green hover"
      = link_to "Editar", edit_photo_category_path(@category), :class => "button blue" 
      = link_to "Borrar", @category, :method => :delete, :class => "button red"
      = link_to "Log out", destroy_admin_session_path, :method => :delete, :class => "button black"
  %h2= @category.title 

%ul.gallery
  - @images.each do |image|
    %li.grid_4
      - if current_admin.present?
        = link_to "Editar", edit_image_path(image), :class => "button blue" 
        = link_to "Borrar", image, :method => :delete, :class => "button red"

      %a.fancybox.zoom{:href => image.photo, :rel => "gallery", :title => image.description}
        = image_tag image.photo.url(:cover), :class => 'shadow'