= simple_form_for [@video_category, @video], :html=> { id: 'form' } do |f|
  .form-inputs
    .row
      .col-md-4= f.input :title, required: true
    %br
    .row
      .col-md-6= f.input :youtube_link, required: true
      .col-md-6= f.input :description
  .form-actions.row
    .col-md-4= f.button :submit