#contact.container
  .row
    .col-md-6
      .row
        .col-md-5
          = image_tag("PI.png", :class => "img-circle")
        .col-md-7
          %h4="Contacto"
          %h5="Por Instinto"
          %p= fa_icon("map-marker", text: " Madrid, ES")
          %p= fa_icon("phone", text: " 690 222 690")
          %p= fa_icon("envelope", text: "porinstintogrupo@gmail.com")
          = link_to(fa_icon("facebook"), "https://www.facebook.com/PorInstintoRock", target: "_blank", class: "btn btn-primary")
          = link_to(fa_icon("twitter"),  "https://twitter.com/PorInstinto", target: "_blank", class: "btn btn-info")
          = link_to(fa_icon("spotify"),  "https://play.spotify.com/artist/23pWE9qp8f5JlM4Z6bpz3C", target: "_blank", class: "btn btn-success")
          = link_to(fa_icon("youtube"),  "http://www.youtube.com/user/PorInstintoRock", target: "_blank", class: "btn btn-danger")
      %br
    .col-md-6
      .row
        .col-md-5
          = link_to (image_tag "gsr.jpg", :class => "img-circle"), "http://www.gaserdiscos.com",{:target => "_blank"}
        .col-md-7
          %h4="Contratación"
          %h5="GSR Producciones"
          %p= fa_icon("fw")
          %p= fa_icon("phone", text: " 627 205 001")
          %p= fa_icon("envelope", text: "garrido@gaserdiscos.com")
          = link_to(fa_icon("facebook"), "https://www.facebook.com/gsrproducciones/", target: "_blank", class: "btn btn-primary")
          = link_to(fa_icon("twitter"),  "https://twitter.com/Gsrproducciones", target: "_blank", class: "btn btn-info")
          = link_to(fa_icon("youtube"),  "https://www.youtube.com/user/GaserDiscos", target: "_blank", class: "btn btn-danger")
      %br