#tour
  .row
    .col-md-7
      = image_tag("tour.jpg")
    .col-md-5
      - if @concerts.present?
        %br
        %br
        - @concerts.each do |concert|
          .row
            .col-md-1= calendar_tag(concert.date)
            .col-md-1
            .col-md-9= concert_tag(concert)
            .col-md-1
      - else
        %br
        %br
        %br
        %h6= "ACTUALMENTE NO TENEMOS CONCIERTOS PROGRAMADOS"
        %br
        %br
        %br
      .text-center= link_to("MÁS FECHAS", concerts_path, class: "btn btn-danger")