= render partial: 'home_navbar'
/ Cuadrar tamaño logo para 100% firefox (según tipo de letra)
= carousel_for(@slides)
/ Permitir vídeos
= render partial: 'description'
/ Redactar descripción.
/ Fondo Muy Suave (Parallax).
= render partial: 'tour'
/ Fondo más currado
= render partial: 'music'
/ Link y caption
= render partial: 'gallery'
/ Masonry
/ = render partial: 'news'
/ Mini galería
= render partial: 'band'
= render partial: 'contact'