= render partial: 'home_navbar'
= carousel_for(@slides)
/ Permitir vídeos
= bootstrap_flash
= render partial: 'description'
/ Redactar descripción.
= render partial: 'tour'
/ Controlar tamaño/desbordamiento de la foto.
/ Alinear botón abajo
/ Alinear mensaje al centro
/ Formato texto mensaje
= render partial: 'music'
= render partial: 'gallery'
= render partial: 'news'
= render partial: 'band'
= render partial: 'contact'