= render partial: 'home_navbar'
= carousel_for(@slides)
= render partial: 'description'
= render partial: 'tour'
= render partial: 'music'
= render partial: 'gallery'
= render partial: 'news'
= render partial: 'band'
= render partial: 'contact'