= render partial: 'home_navbar'
= carousel_for(@slides)
/ Permitir vídeos
= render partial: 'description'
/ Redactar descripción.
= render partial: 'tour'
/ Fondo más currado
= render partial: 'music'
= render partial: 'gallery'
/ Masonry
/ = render partial: 'news'
/ Mini galería
= render partial: 'band'
= render partial: 'contact'