%h4
  = "Canciones"
  .pull-right= link_to fa_icon("plus-circle"), new_record_song_path(@record), :class => "btn btn-success" if current_user.try(:admin?) 
%br
#accordion.panel-group
  - @songs.each do |song|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{song.id.to_s}"}
            = song.track_order.to_s + ". " + song.name
      .panel-collapse.collapse{:id => "collapse#{song.id.to_s}"}
        .panel-body
          %p= simple_format song.lyrics
          - if current_user.try(:admin?)
            .pull-right
              = link_to fa_icon("edit") , edit_song_path(song),                                   :class => "btn btn-primary"
              = link_to fa_icon("trash"), song, :confirm => '¿Estás seguro?', :method => :delete, :class => "btn btn-danger"