= render partial: 'layouts/navbar2'

#records.container
  %br
  = bootstrap_flash
  %h2
    ="discografía"
    .pull-right= link_to fa_icon("plus-circle"), new_record_path, :class => "btn btn-success" if current_user.try(:admin?) 
  %br 
  = render partial: 'record_table', locals: {records: @albums}
  %br 
  %hr.black
  %br
  %h2="singles"
  %br 
  = render partial: 'record_table', locals: {records: @singles}  
