= render partial: 'layouts/navbar2'

#records.container
  .row
    .col-md-4
      = render partial: 'record_left_sidebar'  

    .col-md-8
      %br
      = bootstrap_flash
      %h2
        = @record.name
        - if current_user.try(:admin?)
          .pull-right 
            = link_to fa_icon("edit") , edit_record_path(@record),                                 :class => "btn btn-primary" 
            = link_to fa_icon("trash"), @record, :confirm => '¿Estás seguro?', :method => :delete, :class => "btn btn-danger"
      %br
      %h6= "Fecha: " + @record.publish_date.strftime("%d/%m/%Y") 
      %p= @record.description

      %hr

      = render partial: 'lyrics' if @songs.present? || current_user.try(:admin?)