= simple_form_for [@record, @song], :html=> { id: 'form' } do |f|
  .form-inputs
    .well
      .row
        .col-md-4= f.input :name, required: true
        .col-md-2= f.input :track_order, required: true
      %br
      .row
        .col-md-12= f.input :lyrics, required: true
  %br
  .form-actions.row
    .col-md-4= f.button :submit