= simple_form_for @order, :html => { id: 'form' } do |f|  

  %table
    %thead
      %tr
        %th= "Producto"
        %th= "Descripción"      
        %th= "Precio"
        %th= "Comprar"
        - if current_user.try(:admin?) 
          %th= "Acciones" 

    %tbody
      - items.each do |item|
        %tr
          %td
            %a{"data-lightbox" => item.name, :href => item.image.url, "data-title" => item.name, :class => 'zoom'}
              = image_tag item.image.url(:cover), :class => 'frame'          
          %td
            %strong= item.name
            %br
            = simple_format item.description
          %td= item.price.to_s + " €"

          %td
            - if item.external_shop_link.present?
              .grid_3= link_to "Comprar en tienda externa", item.external_shop_link, target: "_blank", :class => "button yellow"
            -else
              = check_box_tag :shop_items, (item.name + " (" + item.price.to_s + " €)"), false, name: "shop_items[]"
              %strong= "Añadir"

          - if current_user.try(:admin?) 
            %td
              = link_to "Editar", edit_shop_item_path(item), :class => "button blue" 
              = link_to "Borrar", item, :confirm => '¿Estás seguro?', :method => :delete, :class => "button red"

  %br
  .form-group
    = f.label "Tu nombre:"
    %br
    = f.input :name, label: false, :required => true, :required => true
  .form-group
    = f.label "Tu e-mail:"
    %br
    = f.input :email, label: false, :required => true, :required => true
  .form-group
    = f.label "Tu teléfono:"
    %br
    = f.input :phone_number, label: false, :required => true, :required => true
  .form-group
    = f.label "Tu dirección:"
    %br
    = f.input :address, label: false, :required => true, :required => true    
  .form-group
    = f.label "Comentarios:"
    %br
    = f.input :message, label: false, :as => :text
  .hidden
    = f.input :nickname, :hint => 'Leave this field blank!'
    
  = f.button :submit, 'Enviar pedido'