= simple_form_for @contact, :html => { id: 'form' } do |f|
  .form-group
    = f.label "Tu nombre:"
    %br
    = f.input :name, label: false, :required => true
  .form-group
    = f.label "Tu e-mail:"
    %br
    = f.input :email, label: false, :required => true
  .form-group
    = f.label "Mensaje:"
    %br
    = f.input :message, label: false, :as => :text, :required => true
  .hidden
    = f.input :nickname, :hint => 'Leave this field blank!'

  = f.button :submit, 'Enviar mensaje'