= simple_form_for @concert, :html=> { id: 'form' } do |f|
  .form-inputs
    .well
      .row
        .col-md-6= f.input :place, required: true
        .col-md-6= f.input :concert_hall, required: true
      %br
      .row 
        .col-md-6= f.input :date, as: :datetime_picker, required: true 
        .col-md-6= f.input :tickets, required: true
    .well
      .row
        .col-md-6= f.input :bands
        .col-md-6= f.input :notes
      %br
      .row 
        .col-md-6= f.input :event_link
        .col-md-6= f.input :ticket_link
  %br
  .form-actions.row
    .col-md-4= f.button :submit