= render partial: 'layouts/navbar2'

.container
  %br
  %h2
    ="próximos conciertos"
    .pull-right= link_to "Nuevo concierto", new_concert_path, :class => "btn btn-success" if current_user.try(:admin?)
  %br 
  = bootstrap_flash
  %br
  = render partial: 'tour', locals: {concerts: @concerts} 
  %br 
  .text-center= link_to("conciertos pasados", concerts_last_path, class: "btn btn-danger") 