%article.post
  - if current_user.try(:admin?) 
    .right
      = link_to "Nuevo concierto", new_concert_path, :class => "button green hover"
      = link_to "Log out", destroy_user_session_path, :confirm => '¿Estás seguro?', :method => :delete, :class => "button black"

  %h2="próximos conciertos" 
= render partial: 'concert_table', locals: {concerts: @next_concerts} 

.separator

%h2="conciertos pasados" 
= render partial: 'concert_table', locals: {concerts: @previous_concerts}
= will_paginate @previous_concerts  