%table
  %thead
    %tr
      %th= "Provincia"      
      %th= "mails"

  %tbody
    - Provincias.all.each do |province|
      - province_votes = Vote.all.select{|v| v.province == province.id}
      - if province_votes.present?
        - province_mailer = province_votes.collect(&:email).join(', ')
        %tr
          %td= province.name
          %td= province_mailer
    
    - outsider_votes = Vote.all.select{|v| v.province.blank?}
    - if outsider_votes.present?
      - outsider_mailer = outsider_votes.collect(&:email).join(', ')
      %tr
        %td= "Otro país"
        %td= outsider_mailer