%table
  %thead
    %tr
      %th= "Nombre"
      %th= "Provincia"      
      %th= "mail"
      %th= "canciones"
      %th= "comentario"
      - if current_admin.present? 
        %th= "Acciones" 

  %tbody
    - votes.each do |vote|
      %tr
        %td= vote.name
        - if vote.province.present?
          %td= Provincias.find(vote.province).name
        -else
          %td= "Otro país"
        %td= vote.email
        %td= vote.songs.collect(&:name).join(', ')
        %td= vote.comment
        - if current_admin.present? 
          %td
            = link_to "Borrar", vote, :confirm => '¿Estás seguro?', :method => :delete, :class => "button red"