%article.post
  - if current_admin.present? 
    .right
      = link_to "Log out", destroy_admin_session_path, :confirm => '¿Estás seguro?', :method => :delete, :class => "button black"

%h2="canciones por votos"
= render partial: 'song_vote_table', locals: {songs: @songs}

.separator

%h2="mailings por provincias"
= render partial: 'province_mailer'

.separator

%h2="votos recibidos"
= render partial: 'vote_table', locals: {votes: @votes}
= will_paginate @votes 