.grid_8

  %h2= "¡participa!"
  %br
  %strong= "Cuéntanos qué te ha parecido nuestra música, dinos cuáles son tus canciones favoritas y lo que te trasmiten, las que te gustaría escuchar en directo. Entre todos los votos recibidos vamos a sortear discos, entradas y merchan variado. ¡Suerte!"
  
  = render partial: 'form'

%aside
  = render partial: 'layouts/hiring'
  .separator
  = render partial: 'layouts/band_contact'