%h4="Contratación"

%p
  = link_to (image_tag "gsr.jpg"), "http://www.gaserdiscos.com",{:target => "_blank", :class => 'frame'}

  %h6="GSR Producciones"
  %p
    = link_to (image_tag "social/facebook.png"), "https://www.facebook.com/gsrproducciones", {:target => "_blank", :title => "facebook"}
    = link_to (image_tag "social/twitter.png"), "https://twitter.com/gaserdiscos", {:target => "_blank", :title => "twitter"}
    %br
    %strong= "email: garrido@gaserdiscos.com"
    %br
    %strong= "Tel: 627 205 001"
