%nav.navbar.navbar-default.navbar-fixed-top.affix
  #navigation-header.container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to image_tag("logo.png"), root_path  
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "CONCIERTOS", concerts_path
        %li= link_to "MÚSICA", records_path
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            GALERÍA
            %span.caret
          %ul.dropdown-menu
            %li= link_to "Fotos", photo_categories_path
            %li= link_to "Vídeos", video_categories_path
        / %li= link_to "NOTICIAS", entries_path
        %li= link_to "BANDA", bio_entries_path

        %li= link_to fa_icon("facebook"), "https://www.facebook.com/PorInstintoRock", {:target => "_blank", :title => "facebook"} 
        %li= link_to fa_icon("twitter"), "https://twitter.com/PorInstinto", {:target => "_blank", :title => "twitter"}
        %li= link_to fa_icon("spotify"), "https://play.spotify.com/artist/23pWE9qp8f5JlM4Z6bpz3C", {:target => "_blank", :title => "spotify"} 
        %li= link_to fa_icon("youtube"),"http://www.youtube.com/user/PorInstintoRock", {:target => "_blank", :title => "youtube"}
        %li= link_to fa_icon("instagram"), "https://www.instagram.com/por_instinto_rock/", {:target => "_blank", :title => "instagram"} 
        
        - if current_user.try(:admin?)
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              ADMIN
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Editar Slider", slides_path
              %li= link_to "Logout", destroy_user_session_path, :confirm => '¿Estás seguro?', :method => :delete