= render partial: 'layouts/navbar2'

#bio.container
  .row
    .col-md-8
      %br
      = bootstrap_flash
      %h2
        = "Biografía"
        .pull-right= link_to fa_icon("plus-circle"), new_bio_entry_path, :class => "btn btn-success" if current_user.try(:admin?) 

      = render partial: 'chapters'  
      
      = render partial: 'band_photo'

    .col-md-4
      = render partial: 'members_sidebar'